<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <ul>
                <li><h2>học lập trình</h2></li>
                <li>{{Course.level}}</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h2>{{Course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{Course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{Course.decription}}</p>
        </div>
    </div>
</div>